<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="starturl" value="https://dev46183.service-now.com/"/>
    <add key="timeout" value="20"/>
    <add key="loglevel" value="1"/>
    <add key="browser" value="chrome"/>
    <add key="Screenshotdirectory" value="e:\Prasanna\" />
  </appSettings>
</configuration>